*{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.fontSize12{font-size: 12px!important;}
.fontSize14{font-size: 14px!important;}
.fontSize16{font-size: 16px!important;}
.fontSize18{font-size: 18px!important;}
.fontSize24{font-size: 24px!important;}
.fontSize36{font-size: 36px!important;}
.clear:after{content: "";display: block;clear: both;}
.active{background: #198CFF; color: #ffffff;}
main{width: 1200px; height: auto; margin: 0 auto;}
.house_from{width: 100%; height: 9.125rem; background: #fff; margin: 1rem auto; padding-top: 1.75rem;}
.photo_info{width: 72rem; height: 5.625rem; line-height: 5.625rem; margin-left: 3rem; }
.house_from_photo{width: 90px; height: 90px; border-radius: 50px; float: left; overflow: hidden;}
.house_from_photo img{width: 90px; height: 92px;}
.house_from_info{float: left; width: 14rem; height: 90px; padding-left: 1rem; line-height: 1rem; padding-top: 1rem;
					 margin-right: 5rem;}
.tel_phone{float: right; display: none;}

/*房源列表*/
/*标题*/
.house_listbox{width: 75rem;height: auto; background: #fff; padding-top: 10px;}
.house_listnav{width: 73rem; height: auto; margin: 0 auto;}
.house_listnav>ul{ overflow:hidden;width: 73rem; border-bottom: 1px solid #00A0E9; margin: 0 auto; margin-top: 1rem;}
.house_listnav>ul>li{width:6.5rem; height: 2.5rem; line-height: 2.5rem; text-align: center; cursor: pointer; border-right: 3px solid #fff;}
.house_listnav>ul>li:hover{background: #198CFF; color: #ffffff;}
.house_listnav>span{float: right; position: relative; top: -1.8rem;}					 
.evaluate_no{display: none;}				 
/*列表项*/
.house_list_out>div:first-child{width: 100%;}
.house_lists{width: 73rem; height: auto; margin: 0 auto;}
.house_list_out{width: 100%; height: 15.5rem; padding: 24px 0; border-bottom: 2px solid rgb(0,0,0,0.04);}
.house_list_img{width: 17.81rem; height: 12.44rem; margin-right: 0;}
.house_list_img img{width: 285px; height: 199px;}
.media-body{padding-left: 1rem; position: relative;}
.media-body>p{height: 2rem; line-height: 2.5rem;}
.house_list_out h3{float: left;}
.allowance{display:block;width: 6rem; height: 22px; line-height: 22px;
									background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(245,206,98,1)), to(rgba(245,180,49,1)));
									background:-webkit-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:-moz-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:-o-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									color: #ffffff; transform:skew(-12deg);text-align: center; border-radius: 2px;
								    float: left; margin-top: 2px; margin-left: 1.5rem; overflow: hidden;}
.allowance a{color: #fff;}
.where{padding-left: 25px; background: url(../images/icon/where.png) no-repeat; background-size: 18px 18px; background-position:0px 0px;}
.area{padding-left: 25px; background: url(../images/icon/house.png) no-repeat; background-size: 18px 18px; background-position:0px 0px;}
.floor{margin-left: 4rem; padding-left: 20px; background: url(../images/icon/floor.png) no-repeat; background-size: 18px 18px; background-position:0px 0px;}
.from{padding-left: 25px; background: url(../images/icon/people.png) no-repeat; background-size: 16px 16px; background-origin: 0px 0px;}

.metro,.less_house{width: auto; height: 22px; padding: 2px 1rem; border-radius: 3px; cursor: pointer;}
.metro{background:rgba(245,180,49,0.1); border: 1px solid rgba(245,180,49,0.5); color: rgba(245,180,49,1);}
.metro:hover{background:rgba(245,180,49,0.3);}
.less_house{background: rgba(255,85,51,0.1); border: 1px solid rgba(255,85,51,0.5); color: rgba(255,85,51,1); margin-left: 1rem;}
.less_house:hover{background: rgba(255,85,51,0.2);}
.metro_house_money{position: absolute; top: 10.4rem;}
.metro_house_money>span:last-child{float: right; position: relative; top:-1rem;}
.media-body>p:last-child{font-size: 16px; width: 100%; padding-right: 1.5rem;}

/*分页按钮*/
.paging{height: 4.5rem;text-align: center;}
.paging ul li a{width: 32px; height: 32px; line-height: 20px; text-align: center; margin-left: 8px; padding-left: 10px;
					 border-radius: 5px; color: rgba(0,0,0,0.8);}	
.paging ul li a:hover{background: #1890FF; color: #fff;}


/*房源列表结束*/

	
/*用户评价*/
.user_evaluate{width: 75rem; height: auto; background: #ffffff; margin-top: 1rem; margin-bottom: 1rem;}
.user_evaluate h1{width:73rem; height: 4rem; line-height: 4rem; margin: 0 auto; border-bottom: 2px solid rgba(0,0,0,0.04);}
.user_evaluate_list{width:73rem; height: auto; margin: 0 auto;}
.user_evaluate_list ul li>div{width: auto; height: 9.4rem; line-height: 2.2rem; padding-top: 10px; border-bottom: 2px solid rgba(0,0,0,0.04);}
.user_evaluate_list ul li>div>p:first-child{color: rgba(0,0,0,0.6);}
.star img{width: 18px; height: 17px;}
.star{margin-left: 1.5rem;}
.evaluate_time{float: right; margin-right: 3rem;}
.near,.house_analyse{width: auto; height: 22px; padding: 2px 1rem; border-radius: 3px; }
.near{background:rgba(245,180,49,0.1); border: 1px solid rgba(245,180,49,0.5); color: rgba(245,180,49,1);}
.house_analyse{background: rgba(255,85,51,0.08); border: 1px solid rgba(255,85,51,0.5); color: rgba(255,85,51,1); margin-left: 1rem;}
.near:hover{background:rgba(245,180,49,0.3); }
.house_analyse:hover{background: rgba(255,85,51,0.15);}

/*分页*/		/*上面已有一个分页按钮样式*/
/*.paging{height: 4.5rem;text-align: center;}
.paging ul li a{width: 32px; height: 32px; line-height: 20px; text-align: center; margin-left: 8px; padding-left: 10px;
					 border-radius: 5px; color: rgba(0,0,0,0.8);}	
.paging ul li a:hover{background: #1890FF; color: #fff;}	*/			 
/*用户评价结束*/
	
	
	
	
					 
/*移动端*/
@media only screen and (max-width: 1024px) {
	*{font-size: 20px;}
	main{width: 100%; height: auto; background: #fff;}
	.active{background: #fff; color: #198CFF;}
	.active:after {
		content: '';
		position: absolute;
		left: 4.5rem;
		top: auto;
		bottom: 0;
		right: auto;
		height: 4px;
		width: 40%;
		background-color: #0080FF;
	}
	.house_from{width: 100%; height: 18.5rem; background: #fff; margin: 0 auto; 
				padding-top: 2rem; border-bottom: 2px solid rgba(0,0,0,0.08);}
	.house_from>div>p{display: none;}
	.house_from_info{width: 50rem; line-height: 3rem; padding-left: 2rem;} 
	.house_from_photo img{width: 90px; height: 92px;}
	.house_from_info>p:last-child{display: none;}
	.house_from_info>p:first-child{font-size: 28px;}
	.tel_phone{float: right; display: block; font-size: 32px; color: red;
				position: absolute; top: 2.2rem; right: 3.5rem;} 
	.house_listnav>span{display: none;}
	.photo_info{height: 9.8rem;}
	.evaluate_no{width:auto; display: block; display: flex; justify-content: space-between;
				 height: 5rem; line-height: 5rem; padding: 0 5rem;}
	.house_listbox{width: auto;height: auto; padding-top: 0; }
	.house_listnav{width: auto; }
	.house_listnav ul{width: auto; display: flex; justify-content: space-between; border-bottom: 0;}
	.house_listnav ul li{width: auto; height: 10rem; line-height: 10rem; padding: 0 3rem; position: relative;}
	.house_listnav>ul>li:hover{background: #fff; color: #198CFF;}
	.house_listnav ul li,.house_listnav ul li span{font-size: 28px; }
	
	/*房源列表*/
	.house_lists{width: auto;}
	.house_list_out{height: auto;}
	.media-body p{white-space:nowrap;} /*强制不换行*/
	.media-body>p{height: 3rem; line-height: 4.5rem;}
	.media-body{padding-left: 1rem; position: relative;}
	.metro_house_money{position: absolute; top: 16rem;}
	.metro_house_money>span:last-child{ right: 3rem;}
	
	.allowance{display:block;width: auto; height: 22px; line-height: 22px;
									background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(245,206,98,1)), to(rgba(245,180,49,1)));
									background:-webkit-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:-moz-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:-o-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									color: #ffffff; transform:skew(-12deg);text-align: center; border-radius: 2px;
								    float: left; margin-top: 2px; margin-left: 1.5rem; overflow: hidden; padding: 0 1rem;}
	/*房源列表结束*/
	
	/*去掉用户评论及分页按钮*/
	.user_evaluate,.paging{display: none;}
	.media-body>p{height: 3.5rem; line-height: 3rem; margin-top: 0.5rem;}
}

/*pc端*/
@media only screen and (min-width: 1025px) {
	html{font-size: 16px!important;}
	*{font-size: 14px;}
	/*pc端去掉五个房源信息*/
	.phone{display: none;}
	/*pc端去掉五个房源信息*/
	
	
}