*{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none; color: rgba(0,0,0,0.85);}
a:hover{text-decoration: none;}
.fontSize12{font-size: 12px!important;}
.fontSize14{font-size: 14px!important;}
.fontSize16{font-size: 16px!important;}
.fontSize18{font-size: 18px!important;}
.fontSize24{font-size: 24px!important;}
.fontSize36{font-size: 36px!important;}
.clear:after{content: "";display: block;clear: both;}
.active{background: #198CFF; color: #ffffff;}
main{width: 1200px; height: auto; margin: 0 auto;}
.house_from{width: 100%; height: 12rem; background: #fff; margin: 1.5rem auto; padding-top: 1.75rem;}
.photo_info{width: 72rem; height: 7.5rem; line-height: 7.5rem; margin-left: 4rem; }
.house_from_photo{width: 90px; height: 90px; border-radius: 50px; float: left; overflow: hidden;}
.house_from_photo img{width: 90px; height: 92px;}
.house_from_info{float: left; width: 18rem; height: 90px; padding-left: 1rem; line-height: 1rem; padding-top: 1rem;
					 margin-right: 6.5rem;}
.tel_phone{float: right; display: none;}

/*房源列表*/
/*标题*/
.house_listbox{width: 100rem;height: auto; background: #fff; padding-top: 10px;}
.house_listnav{width: 100rem; height: auto; margin: 0 auto; position: relative;}
.house_listnav>ul{ overflow:hidden;width: 97rem; border-bottom: 1px solid #00A0E9; margin: 0 auto; margin-top: 1rem;}
.house_listnav>ul>li{width: 8.6rem; height: 3rem; line-height: 3rem; text-align: center; cursor: pointer; border-right: 3px solid #fff;}
.house_listnav>ul>li:hover{background: #198CFF; color: #ffffff;}
.house_listnav>span{float: right; position: absolute; right: 1.5rem; top: 10px;}					 
.evaluate_no{display: none;}		
		 
/*列表项*/
#all_house{width: 100%; height: auto; margin: 0rem auto 1.5rem; background: #fff; padding-bottom: 1rem;}
.all_house_list{width: 98%; margin: 0 auto;  border-bottom: 1px solid rgba(0,0,0,0.15);}
.all_house_list>ul>li{width: 19.5%; height: 11.5rem; line-height: 11.5rem;  text-align: center; }
.all_house_list>ul>li:first-child{text-align: left; padding-left: 3px;}
.all_house_list>ul>li img{width: 65%; height: 70%;}
.show_all_house{width: 180px; height: 36px; line-height: 36px; margin: 1rem auto; border-radius: 3px;
					border: 2px solid rgba(0,0,0,0.15); text-align: center; margin-top: 20px; cursor: pointer;}
.show_all_house:hover{background: #F5B431; color: #fff;}

/*#all_house>ul>li{transition: all 1s;}
#all_house>ul>li:hover{background: rgba(0,0,0,0.04);}*/
/*列表项结束*/


/*分页按钮*/
.paging{height: 6rem;text-align: center;}
.paging ul li a{width: 32px; height: 32px; line-height: 20px; text-align: center; margin-left: 8px; padding-left: 10px;
					 border-radius: 5px; color: rgba(0,0,0,0.8);}	
.paging ul li a:hover{background: #1890FF; color: #fff;}


/*房源列表结束*/

	
/*用户评价*/
.user_evaluate{width: 100rem; height: auto; background: #ffffff; margin-top: 1rem; margin-bottom: 1rem;}
.user_evaluate h1{width:97%; height: 5rem; line-height: 5rem; margin: 0 auto; border-bottom: 2px solid rgba(0,0,0,0.04);}
.user_evaluate_list{width:97%; height: auto; margin: 0 auto;}
.user_evaluate_list ul li>div{width: auto; height: 12.5rem; line-height: 3rem; padding-top: 10px; border-bottom: 2px solid rgba(0,0,0,0.04);}
.user_evaluate_list ul li>div>p:first-child{color: rgba(0,0,0,0.6);}
.stars{ padding-left: 2rem; background: url(../images/icon/star.png) no-repeat; background-size: 18px 18px;}
.star{margin-left: 1rem;}
.evaluate_time{float: right; margin-right: 4rem;}
.near,.house_analyse,.worked_jiaju,.property{width: auto; height: 22px; padding: 3px 1rem; border-radius: 3px; margin-right: 0.8rem; }
.near{background:#FFB319; border: 1px solid #FFD580;color:#fff;}
.house_analyse{background: #F52230; border: 1px solid #FFA39E;color:#fff; }
.worked_jiaju{background:#52C41A; border: 1px solid #B7EB8F;color:#fff; }
.property{background:#2D96FF; border: 1px solid #80BFFF;color:#fff; }

/*分页*/		/*上面已有一个分页按钮样式*/
/*.paging{height: 4.5rem;text-align: center;}
.paging ul li a{width: 32px; height: 32px; line-height: 20px; text-align: center; margin-left: 8px; padding-left: 10px;
					 border-radius: 5px; color: rgba(0,0,0,0.8);}	
.paging ul li a:hover{background: #1890FF; color: #fff;}	*/			 
/*用户评价结束*/
	
	
	
	
					 
/*移动端*/
@media only screen and (max-width: 1024px) {
	*{font-size: 20px;}
	main{width: 100%; height: auto; background: #fff;}
	.active{background: #fff; color: #198CFF;}
	.active:after {
		content: '';
		position: absolute;
		left: 4.5rem;
		top: auto;
		bottom: 0;
		right: auto;
		height: 4px;
		width: 40%;
		background-color: #0080FF;
	}
	.house_from{width: 100%; height: 18.5rem; background: #fff; margin: 0 auto; 
				padding-top: 2rem; border-bottom: 2px solid rgba(0,0,0,0.08);}
	.house_from>div>p{display: none;}
	.house_from_info{width: 50rem; line-height: 3rem; padding-left: 2rem;} 
	.house_from_photo img{width: 90px; height: 92px;}
	.house_from_info>p:last-child{display: none;}
	.house_from_info>p:first-child{font-size: 28px;}
	.tel_phone{float: right; display: block; font-size: 32px; color: red;
				position: absolute; top: 2.2rem; right: 3.5rem;} 
	.house_listnav>span{display: none;}
	.photo_info{height: 9.8rem;}
	.evaluate_no{width:auto; display: block; display: flex; justify-content: space-between;
				 height: 5rem; line-height: 5rem; padding: 0 5rem;}
	.house_listbox{width: auto;height: auto; padding-top: 0; }
	.house_listnav{width: auto; }
	.house_listnav ul{width: auto; display: flex; justify-content: space-between; border-bottom: 0;}
	.house_listnav ul li{width: auto; height: 10rem; line-height: 10rem; padding: 0 3rem; position: relative;}
	.house_listnav>ul>li:hover{background: #fff; color: #198CFF;}
	.house_listnav ul li,.house_listnav ul li span{font-size: 28px; }
	
	/*房源列表*/
	.house_lists{width: auto;}
	.house_list_out{height: auto;}
	.media-body p{white-space:nowrap;} /*强制不换行*/
	.media-body>p{height: 3rem; line-height: 4.5rem;}
	.media-body{padding-left: 1rem; position: relative;}
	.metro_house_money{position: absolute; top: 16rem;}
	.metro_house_money>span:last-child{ right: 3rem;}
	
	.allowance{display:block;width: auto; height: 22px; line-height: 22px;
									background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(245,206,98,1)), to(rgba(245,180,49,1)));
									background:-webkit-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:-moz-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:-o-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									color: #ffffff; transform:skew(-12deg);text-align: center; border-radius: 2px;
								    float: left; margin-top: 2px; margin-left: 1.5rem; overflow: hidden; padding: 0 1rem;}
	/*房源列表结束*/
	
	/*去掉用户评论及分页按钮*/
	.user_evaluate,.paging{display: none;}
	.media-body>p{height: 3.5rem; line-height: 3rem; margin-top: 0.5rem;}
}

/*pc端*/
@media only screen and (min-width: 1025px) {
	html{font-size: 12px;}
	*{font-size: 16px;}
	/*pc端去掉五个房源信息*/
	.phone{display: none;}
	/*pc端去掉五个房源信息*/
	
	
}