html{font-size: 16px;}
*{font-size: 14px; list-style: none;  margin: 0; padding: 0;}
.fontSize12{font-size: 12px!important;}
.fontSize14{font-size: 14px!important;}
.fontSize16{font-size: 16px!important;}
.fontSize18{font-size: 18px!important;}
.fontSize24{font-size: 24px!important;}
.fontSize36{font-size: 36px!important;}
.black85{color: rgba(0,0,0,0.85);}
.black65{color: rgba(0,0,0,0.65);}
.black45{color: rgba(0,0,0,0.45);}
.cursor{cursor: pointer;}
/*导入数字字体包*/
@font-face {
  font-family: 'newnumebr';   /*字体名称*/
  src: url('../fonts/DIN-Medium.otf');       /*字体源文件*/
}

main{width: 100%;height: 100%; }
.clear:after{content: "";display: block;clear: both;}
/*a{display: block;}*/
.active{background: #198CFF; color: #ffffff;}
a{color:rgba(0,0,0,0.8);}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
ul{text-decoration: none;list-style: none;margin: 0;padding: 0;}
/*img{cursor: pointer;}*/


	main{font-size:14px;
		font-family:PingFangSC-Regular;
		color:rgba(0,0,0,1);
		padding-top: 1px;
	}
	

	.main{width: 75rem; height: auto; margin:0 auto;/*background: #F5F7FA;*/padding-top: 1rem;}
	.main_top{width: 100%; height: 37.5rem; background: #FFFFFF; margin-bottom: 1rem;}
	/*.main_top_title{padding-top: 1rem; margin-left: 5px;}
	.main_top_title span:last-child{display:block;width: 6rem; height: 22px; line-height: 22px;
									
									background:-webkit-gradient(linear, 0 0, 0 100%, from(rgba(245,206,98,1)), to(rgba(245,180,49,1)));
									background:-webkit-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:-moz-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:-o-linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									background:linear-gradient(rgba(245,206,98,1), rgba(245,180,49,1));
									color: #ffffff; transform:skew(-12deg);text-align: center; border-radius: 2px;
									float: left; margin-top: 2px; margin-left: 1rem; overflow: hidden; }*/
	
	.tabs_box{width: 63%; height: 100%; margin: 0 auto; display: flex; justify-content: space-between;}
	.tabs_left{width: 60%; height: 100%; overflow: hidden;}
	.tabs_left>p{height: 3rem; line-height: 3rem; margin: 0;}
	.broadcast{width: 100%; height: 88%; background: blue;}

/*轮播*/
.banner{width: 100%; height: 100%;}
.carousel-inner>.item>img{width: 100%; height: 100%; margin: 0;}
.carousel-inner,.item{width: 100%; height: 100%!important;}
.carousel-control.right,.carousel-control.left{background-image: none; }
.carousel-control.right span,.carousel-control.left span{color: #fff; font-size: 40px!important; position: absolute; top: 45%; display: none;}
.carousel-control.right span{right: 10%;}
.carousel-control.left span{left: 10%;}

.carousel-indicators{bottom: 1px; margin-bottom: 5px;}
.carousel-indicators li{
	width: 20px;
	height: 2px;
	border: none;
	background: rgba( 0, 0, 0,.2);
}
.carousel-indicators .active{
	width: 20px;
	height: 2px;
}
/*轮播结束*/	
	
	/*中部导航*/
	.middle{background: #fff; }
	.middle_title{background: #ffffff; padding-left: 18.5%;}
	.middle_title li{width: 8.6rem; height: 3rem; line-height: 3rem; text-align: center; margin: 0; padding: 0;}
	.middle_title li:hover{background: #198CFF; color: #fff; cursor: pointer;}
	/*.middle_content{background: #ffffff; width: 100%; height: 11.75rem; margin-top: 1rem; margin-bottom: 20px;}*/
	
	/*house info*/
	.top_infos{width: 38%; height: 100%; color: rgba(0,0,0,0.8);}
	.top_house_info{width: 100%; height: 45%; border-bottom: 2px solid rgba(0,0,0,0.04);}
	.love_share{text-align: right; padding-top: 0.8rem;}
	.jmw{display: flex; justify-content: space-between; margin-top: 3rem; margin-bottom: 1rem;}
	.price_jmw img,.area_jmw img,.wuyePrice_jmw img{width: 60px; height: 60px;}
	.price_jmw,.area_jmw,.wuyePrice_jmw{ text-align: center; width: 25%;}
	.price_jmw p,.area_jmw p,.wuyePrice_jmw p{}
	
	.price,.area,.wuyePrice{color: #F52230; font-size: 24px!important; font-family: 'newnumebr';}
	.collection{padding-left:25px; background: url(../images/icon/collection.png) no-repeat; background-size: 20px 20px; background-origin: 10px 10px;}
	.collection:hover{padding-left:25px; background: url(../images/icon/collection-red.png) no-repeat; background-size: 20px 20px; background-origin: 10px 10px;}
	.share{padding-left: 25px; background: url(../images/icon/share.png) no-repeat; background-size: 20px 20px; background-origin: 10px 10px;}
	.share:hover{padding-left: 25px; background: url(../images/icon/share-red.png) no-repeat; background-size: 20px 20px; background-origin: 10px 10px;}
	.address{padding-left: 25px; background: url(../images/icon/where.png) no-repeat; background-size: 20px 20px;
			 background-origin: 10px 10px; color: rgba(0,0,0,0.65);}
	.qu,.dian{color: rgba(0,0,0,0.65);}
	
	.top_house_from{width: 100%; height: 55%; }
	.top_house_from_title{ width: 100%; height: 70px;  margin-top: 20px; margin-bottom: 20px; display: flex;}
	.top_house_from_img{ width: 70px; height: 70px; -webkit-border-radius: 3rem; background: skyblue;overflow: hidden;}
	.top_house_from_title_right{width: 14.5rem; height: 70px; padding-top:10px; margin-left: 1rem;}
	.top_house_from_title_right>p{line-height: 20px;}
	.zixun{color: #F52230; margin-top: 10px; height: 45px; line-height: 45px; margin-top: 1.2rem; font-family: 'newnumebr';}
	.out_house{color: #198CFF; text-decoration: underline; font-family: 'newnumebr';}
	.cctn{width: 6rem; height: 2.5rem; line-height: 2.5rem; color: #ffffff; background:rgba(255,179,25,1); border-radius: 3px;
			padding-left: 10px;}
	.cctn img{margin-right: 10px;}
	.cctn:hover{ background: orange;}
	
	.score,.people-sum{font-family: 'newnumebr';}
	/*头部结束*/

	
	/*全部户型*/
	.houseinfo{width: 75rem; margin-top: 1.5rem;  display: flex; justify-content: space-between;}
	/*#house_and_find{width: 75rem;height: auto; margin-top: 1rem; }*/
	.houseinfo_left{width: 53rem; height: auto;}
	#all_house{width: 53rem; height: auto; background: #ffffff; padding-top: 1px; padding-bottom: 10px;}
	#find_house_out{width: 20.75rem; height: auto;}
	.ggao{width: 100%; height: auto; margin-top: 1rem;}
	.ggao ul li{margin-top: 1rem;}
	.ggao ul li img{width: 100%; height: auto;}
	
	.find_map{width: 20.75rem; background: #ffffff; }
	.find_map h2{margin-left: 25px; height: 3rem; line-height: 3rem; margin-top: 0;}
	#find_house{width: 20.75rem; height: 18rem; background: #ffffff; padding-top: 10px;}
	#find_house h2{margin-left: 25px; height: 3rem; line-height: 3rem; margin-top: 0;}
	.map_img{width: 17.75rem; height: 15rem; background: rgba(0,0,0,0.04); margin: 0 auto;}
	.inputphone{width: 17.75rem; height: 13rem; background: rgba(0,0,0,0.04); margin: 0 auto; }
	.inputphone form input:first-child{width: 260px; height: 42px; margin: 0 12px; margin-top: 30px; margin-bottom: 5px; border: 0; text-align: center;}
	.inputphone form input:last-child{width: 260px; height: 42px; margin: 15px 12px;  background: #F5B431;color: #fff; outline: none; border: none;}
	.inputphone form input:last-child:hover{background: orange;}
	#all_house h1{margin-left: 1rem; margin-bottom: 1rem;}
	.all_house_area{width:51rem; display: flex; border-bottom: 2px solid rgba(0,0,0,0.04);border-top: 2px solid rgba(0,0,0,0.04);
					height: 3rem; line-height: 3rem; margin: 0 auto;}
	.all_house_area ul li{margin-left: 2rem; text-align: center;}
	.all_house_type{width:51rem; display: flex; border-bottom: 2px solid rgba(0,0,0,0.04); padding-left: 3rem;
					height: 3rem; line-height: 3rem; margin: 0 auto;}
	.all_house_type ul li:not(.biaozhi){margin-left: 8.36rem; text-align: center;}
	.all_house_list{width:51rem; height: 10rem; border-bottom: 2px solid rgba(0,0,0,0.04); 
					margin: 0 auto; padding-top: 2rem;}
	.all_house_list img{ width: 100%; height: 100%;}
	.all_house_list ul{}
	.all_house_list ul li{width: 138px; height: 98px; line-height: 98px; margin: auto 0;}
	.all_house_list ul li:not(.biaozhi){width: 150px; margin-left: 1rem; text-align: center;}
	.show_all_house{width: 180px; height: 36px; line-height: 36px; margin: 1rem auto; border-radius: 3px;
					border: 2px solid rgba(0,0,0,0.04); text-align: center; margin-top: 20px; cursor: pointer;}
	.show_all_house:hover{background: #F5B431; color: #fff;}
	#office_info{ width: 53rem; height: 26.19rem; background: #fff; margin-bottom: 0;}
	#office_info h1{width:51rem; height: 4rem; line-height: 4rem; margin: 0 auto; border-bottom: 2px solid rgba(0,0,0,0.04); }
	.office_content{width:51rem; height: 17rem; margin: 0 auto; border-bottom: 2px solid rgba(0,0,0,0.04); }
	.office_content div:first-child{width: 51rem; height: 4rem; line-height: 4rem; }
	.metro,.less_house{width: auto; height: 22px; padding: 2px 1rem; border-radius: 3px; }
	.metro{background:#FFB319; border: 1px solid #FFD580; color: #fff;}
	.less_house{background: #F52230; border: 1px solid #FFA39E; color: #fff; margin-left: 1rem;}
	.office_list{width: 100%; height: 100%; outline: 1px solid red;}
	.office_content ul{float: left; width: 25.5rem; height: 12rem; line-height: 3rem;}
	.house_present{width: 51rem; margin: 1rem auto;}
	#telText{padding-left: 2rem; color: red; display: none;}
	
	/*用户评价*/
	.user_evaluate{width: 100%; height: auto; background: #ffffff; margin-bottom: 1rem; margin-top: 20px}
	.user_evaluate h1{width:96%; height: 4rem; line-height: 4rem; margin: 0 auto; border-bottom: 2px solid rgba(0,0,0,0.04);}
	.user_evaluate_list{width:96%; height: auto; margin: 0 auto;}
	.user_evaluate_list ul li>div{width: auto; height: 10rem; line-height: 2.2rem; padding-top: 10px; border-bottom: 2px solid rgba(0,0,0,0.04);}
	.user_evaluate_list ul li>div>div{margin-top: 10px;}
	.user_evaluate_list ul li>div>p:first-child{color: rgba(0,0,0,0.6);}
	.star{margin-left: 1.5rem;}
	.stars{ padding-left: 2rem; background: url(../images/icon/star.png) no-repeat; background-size: 22px 22px;}
	.evaluate_time{float: right; margin-right: 1rem;}
	.near,.house_analyse,.worked_jiaju,.property{width: auto; height: 22px; padding: 2px 1rem; border-radius: 3px; margin-right: 1rem;
					color: #fff;}
	.near{background:#FFB319; border: 1px solid #FFD580;}
	.house_analyse{background: #F52230; border: 1px solid #FFA39E; }
	.commend{margin-left: 1rem;}
	.worked_jiaju{background:#52C41A; border: 1px solid #B7EB8F; }
	.property{background:#2D96FF; border: 1px solid #80BFFF; }

	/*分页*/
	.paging{height: 4.5rem;text-align: center;}
	.paging ul li a{width: 32px; height: 32px; line-height: 20px; text-align: center; margin-left: 8px; padding-left: 10px;
					 border-radius: 5px; color: rgba(0,0,0,0.8);}	
	.paging ul li a:hover{background: #1890FF; color: #fff;}				 
	/*用户评价结束*/
	
	/*周边设施*/
	#around{width: 75rem; height: 38rem; background: #ffffff; margin-bottom: 1rem; margin-top: 1rem;}
	#around h1{width:73rem; height: 4rem; line-height: 4rem; margin: 0 auto; border-bottom: 2px solid rgba(0,0,0,0.04);}
	.map_around{width: 73rem; height: 31.6rem; margin: 1rem auto;  overflow: hidden; position: relative;}
	.map_box{
		position: absolute;
		top: 40px;
		right: 40px;
		width: 374px;
		height: 391px;
		border:1px solid #e5e5e5;
		background: #fff;
	}
	.map_top ul li{
		float: left;
		padding: 0 17px;
		display: inline-block;
		color: #666;
		font-size: 12px!important;
		line-height: 34px;
		border-top: 2px solid #f4f4f4;
		cursor: pointer;
		background: rgba(0,0,0,.04);
	}
	.mar{
		margin: 0;
	}
	#r-result{width:100%;}	
	#r-result > div{border:0!important;}
	#r-result >div >div >ol >li >span{
		background: url(../images/icon/traffic.png) no-repeat!important;
		background-size: 20px 20px!important;
		background-position: 0 0!important;
	}
	#r-result >div >div >ol >li >div{
		background: #fff!important;
	}
/*<<<<<<< HEAD*/
	
	#r-result >div>div>ol>li>div>div:first-child>span{
		color: rgba(0,0,0,1)!important;
	}
	
	#r-result >div>div>ol>li>div>div:first-child>a{
		margin-left: 1rem!important;
		color: rgba(0,0,0,1)!important;
	}
	
	#r-result >div>div>ol>li>div>div:last-child{
		margin-top: 5px;
	}
	
	#r-result >div>div>ol>li>div>div:last-child>span{
		color: rgba(0,0,0,0.65)!important;
	}
	#r-result >div>div>ol>li>div>div:last-child>b{
		color: rgba(0,0,0,0.65)!important;
	}
/*	
=======
>>>>>>> a939766b549a7793b90682a9fc790a899cefbcbf*/
	#r-result >div>div>ol>li>div>div>span{
		color: #000!important;
	}
	.map_bom{
		margin-top: 36px;
		height: 355px;
		padding: 10px 20px 20px;
		overflow-y:auto;
	}
	
	/*猜你喜欢*/
	.lovely{width: 100%; height: 24.6rem; background: #fff;}
	.lovely_middle{width: 75rem; height: 24.6rem; margin: 0 auto; }
	.lovely_middle h1{ height: 4rem; line-height: 4rem; margin: 0 auto;}
	.lovely_infoimg{width: 75rem; height: 19.6rem; overflow: hidden; position: relative;}
	.lunbo{width: 300rem; height: 19.6rem; position: relative;}
	.pre,.next{width: 50px; height: 220px; background: rgba(0,0,0,0.2); display: none; position: absolute; z-index: 3; cursor: pointer; overflow: hidden;}
	.pre:hover,.next:hover{background: rgba(0,0,0,0.5);}
	.pre{top:0;left: 0;}
	.pre img,.next img{width: 100%; height: 80px; margin-top: 70px;}
	.next{right: 0;}
	/*.lovely_infoimg ul{display: flex;justify-content: space-between;}*/
	.lovely_infoimg ul li{float: left;}
	.lovely_infoimg ul li:not(.biaozhi){margin-left: 1.3rem;}
	.biaozhi a{text-decoration: none;}
	.lovely_infoimg ul li a>div{width: 285px; height: 19.6rem; border: 1px solid rgba(0,0,0,0.04);}
	.lovely_imgbox{width: 285px; height: 220px; overflow: hidden;}
	.lovely_infoimg ul li a:active{text-decoration: none;}
	.lovely_infoimg ul li a>div img{width: 285px; height: 220px; transition: all 0.6s;}
	.lovely_infoimg ul li a>div:hover img{transform: scale(1.13);}
	.lovely_infoimg ul li a>div p{transition: all 1s;}
	.lovely_infoimg ul li a>div:hover p{color: orange;}
	.house_name{margin-top: 12px; padding-left: 10px;}
	#money_type>img{width: 20px; height: 20px;}
	#money_type{color: rgba(0,0,0,0.6); height: 2rem; line-height: 2rem; padding: 0 10px;}
	.howMoney{float: right; margin-top: -5px;}
	.howMoney .moneys{color:rgba(250,84,28,1); font-size: 24px!important;}

	#allmap{width:100%;height:100%;}
	/*滚动条样式*/
    .map_bom::-webkit-scrollbar {/*滚动条整体样式*/
    width:4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
    }
    .map_bom::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.2);
     background: rgba(0,0,0,0.2);
    }
    .map_bom::-webkit-scrollbar-thumb/*定义滑块 内阴影+圆角*/
	{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.4);
    background-color: #555;
	}


