.m_foot_bg{
	background:linear-gradient(90deg,rgba(0,162,255,1),rgba(0,128,255,1));
	height: 6.5rem;
}
.m_foot_text1,.m_foot_text2{
	color: #fff;
	text-align: center;
}
.m_foot_text1{
	margin-top: 1rem;
}
.mfszie20{
	font-size: 12px;
}
.mfszie28{
	font-size: 16px; 
}
.m_foot_text2 a{
	color: #fff;
}