/*公共样式开始*/
html{
	font-size: 12px;
}
*{
	list-style: none;
}
/*导入数字字体包*/
@font-face {
  font-family: 'newnumebr';   /*字体名称*/
  src: url('../fonts/DIN-Medium.otf');       /*字体源文件*/
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	color: #000;
	text-decoration: none;
}
i{
	font-style:normal;
}
input,textarea{
	outline:none;
}
/*字体大小*/
.mfsziemin{
	font-size: 12px;
}
.mfszie20{
	font-size: 14px;
}
.mfszie24{
	font-size: 16px;
}
.mfszie28{
	font-size: 20px; 
}
.mfszie28w{
	font-size: 20px;
	font-weight: 600;
}
.mfszie32{
	font-size: 22px;
}
.textcolor85{
	color: rgba(0,0,0,.85);
}
.textcolor65{
	color: rgba(0,0,0,.65);
}
.textcolor45{
	color: rgba(0,0,0,.45);
}
.textfw600{
	font-weight: 600;
}
.textfw500{
	font-weight: 500;
}
/*重写内外边距*/
.marpad{
	margin:0;
	padding: 0;
}
.mar{
	margin: 0;
}
.pad{
	padding: 0;
}
.bgcolor{
	background: #fff;
}
.martop1{
	margin-top: 1rem;
}
.padtop1{
	padding-top: 1rem;
}
/*结束