/*公共样式开始*/
html{
	font-size: 12px;
}
*{
	list-style: none;
}
/*导入数字字体包*/
@font-face {
  font-family: 'newnumebr';   /*字体名称*/
  src: url('../fonts/DIN-Medium.otf');       /*字体源文件*/
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	color: #000;
	text-decoration: none;
}
i{
	font-style:normal;
}

/*字体大小*/
.mfszie20{
	font-size: .83rem;
}
.mfszie24{
	font-size: 1rem;
}
.mfszie28{
	font-size: 1.17rem; 
}
.mfszie32{
	font-size: 1.34rem;
}

/*重写内外边距*/
.marpad{
	margin:0;
	padding: 0;
}
.mar{
	margin: 0;
}
.pad{
	padding: 0;
}


/*结束