a{color: rgba(0,0,0,1);}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
.active{background: #198CFF; color: #ffffff;}
ul{list-style: none; padding: 0;}
img{width: 100%; height: 100%; cursor: pointer;}

.top_img{width: 100%; height: 30rem; overflow: hidden;}
.top_img img{width: 100%; height: 100%;}
main{width: 120rem; height: auto; margin: 3rem auto;}
/*主体左部*/
.main_left{float: left; width: 84.8rem; height: auto; }
/*轮播*/
.brand{width: 848px; height: 40rem; overflow: hidden;}
.brand_box{width: 5936px; height: 40rem; position: relative;}
.brand_box>div{float: left; width: 84.8rem; height: 40rem;}
.brand_lists ul{position: relative; left: 45%; top: -2rem;}
.brand_lists ul li{float: left; width: 2rem; height: 0.3rem; background: rgba(0,0,0,0.4); margin-left: 1rem; border-radius: 1px;}
.brand_lists .curr{background:rgba(255,255,255,1);}
.pre,.next{width: 4rem; height: 6rem; background: rgba(0,0,0,0.3); position: relative; cursor: pointer; z-index: 9px; 
			border-radius: 2px; display: none;}
.pre:hover,.next:hover{background: rgba(0,0,0,0.6);}
.pre{left:0rem;top:-25rem;}
.next{left: 81rem; top:-31rem;}
/*视觉盛宴*/
.vision_box{width: 84.8rem; height: 18.4rem; margin-top: 2rem; overflow: hidden;}
.vision{width: 260.1rem; height: 18.4; position: relative;}

.vision ul li{width: 27rem; height: 18.4rem; float: left; }
.vision ul li:not(.biaozhi){margin-left: 1.9rem;}
.vision ul li img{width: 100%; height: 100%;}
.vision ul li div{width: 27rem; height: 18.4rem; color: #fff; padding-top: 4rem; text-align: center;
				background: rgba(0,0,0,0.2); position: relative;}
.vision ul li div>p{margin: 0 auto; width: 19rem; line-height: 2.5rem; padding-top: 2rem;overflow: hidden;
					display: -webkit-box; display: -moz-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;}
/*视觉盛宴结束*/

.tabs_li{margin-top: 1rem;}
.tabs_li ul{border-bottom: none!important;}
.tabs_li ul li{width:8rem; height: 3rem; line-height: 3rem; margin-top: 0.6rem; text-align: center; font-size: 16px;
				border-bottom: 2px solid rgba(0,0,0,0.08); margin-right: 5px;}
.tabs_li ul li:hover{background: #198CFF; color: #ffffff; cursor: pointer;}
.tabs_li>span{float: right; position: relative; top: -2rem; padding-right: 1rem;}

/*新闻列表*/
.news{width: 100%; height: auto; margin-top:3rem; background: #fff; padding-top: 0.5rem; padding-left: 1rem;}
.news>ul{ border-bottom: 2px solid rgba(0,0,0,0.06);}
.media{width: 83.8rem; height: 23.6rem; padding: 2.3rem 0; position: relative;}
.news_img img{width: 34rem; height: 19rem;}
.news_info{width: 100%; height: 19rem; padding-left: 1rem; padding-top: 1.5rem; }
.new_type{display: -webkit-box; width: 34rem; -webkit-line-clamp: 1;overflow: hidden; -webkit-box-orient: vertical;}
.time{ float: right; position: relative; top: -2rem; right: 3rem;}
.news_info>p{display: -webkit-box; width: 32rem; margin-top: 2rem; -webkit-line-clamp: 2;overflow: hidden; -webkit-box-orient: vertical;}
/*.news>ul>li:hover{padding-left: 1.5rem; box-shadow: 0px 5px 10px rgba(0,0,0,0.1);}*/
/*.arrow_right{ margin-left: 42rem; border-left: 2px solid rgba(0,0,0,0.1);
	padding-left: 5rem; background: url(../images/icon/arrow-righ.png) no-repeat; background-size: 25px 20px; background-origin: 10px 10px;}*/
.arrow_right{ margin-left: 39rem; border-left: 2px solid rgba(0,0,0,0.1); padding-left: 2rem; height: 3rem; line-height: 3rem;}
.arrow_right img{width: 25px; height: 20px;}
.arrow_right a:hover{background: rgba(0,0,0,0.08);}
/*新闻列表结束*/

/*分页*/
.paging{width: 20rem; height: 4rem; margin: 2rem auto;}
.paging li{float: left; margin-left: 1rem; height: 3.2rem; line-height: 3.2rem;}
.paging li:not(.pages){padding-left: 0.5rem;}
.pages{width: 4.8rem; height: 2.2rem; border-radius: 5px; text-align: center; border: 1px solid rgba(0,0,0,0.1);}





/*主体右部*/
.main_right_out{float: right; width: 33.2rem; height: auto; background: #fff; }
.main_right{width: 28.4rem; height: auto; margin: 0 auto; }
.main_right>h3{margin: 3rem 0;}
.right_top{width: 100%; height: auto; padding-bottom: 0.5rem; border-bottom: 2px solid rgba(0,0,0,0.06);}
.right_top ul li div{width: 28.4rem; height: 32rem;}
.right_top ul li div img{width: 100%; height: 100%;}
.right_top ul li{margin-top: 2.4rem;}
.right_hot{width: 100%; height: auto; border-bottom: 2px solid rgba(0,0,0,0.06);}
.photo_info{width: 28.4rem; height: 29rem; position: relative;}
.photo_info:hover{top:-0.2rem; border-bottom: 2px solid rgba(0,0,0,0.04); box-shadow: 0px 5px 5px rgba(0,0,0,0.1);}
.right_hot ul li{margin-bottom: 2rem;}
.photo{width: 100%; height: 22rem; }
.info{width: 100%; height: 7rem; padding-left: 1rem; padding-top: 1rem;}
.info>p{height: 3rem; line-height: 2rem; margin: 0;}
.info_house{padding-left: 20px; background: url(../images/icon/edifice.png) no-repeat; background-size: 18px 18px; background-origin: 10px 10px;}
.info_money{margin-left: 5rem;}
.informal{width: 100%; height: auto;}
.informal>p{width: 27rem; padding-left: 1rem; height: 2rem; line-height: 2rem; position: relative; white-space: nowrap; 
			text-overflow:ellipsis; overflow: hidden;}
.informal>p>a{color: rgba(0,0,0,0.8);}
.informal>p:hover{left: 0.5rem;}





/*pc端*/
@media only screen and (min-width: 1025px) {
	.fontSize12{font-size: 12px!important;}
	.fontSize14{font-size: 14px!important;}
	.fontSize16{font-size: 16px!important;}
	.fontSize18{font-size: 18px!important;}
	.fontSize24{font-size: 24px!important;}
	.fontSize36{font-size: 36px!important;}
	html{font-size: 10px!important;}
	*{font-size: 14px; font-family:PingFangSC-Medium;}
	
}


/*移动端*/
@media only screen and (max-width: 1024px) {
	*{font-size: 10px;}
}