<include file='Public/header'/>
<include file='Public/base_css'/>
<body>
<include file='Public/base_js'/>
<div class="x-body">
    <blockquote class="layui-elem-quote">
        <span class="x-red">*</span>
        0
    </blockquote>
    <xblock>
        <span class="x-right" style="line-height:40px;">
            &nbsp;&nbsp;&nbsp;共有数据：&nbsp;<span id="count"> {$count} </span>&nbsp;条
        </span>
    </xblock>
    <div id="panel" lay-filter="panel">
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                <tr>
                    <th width="10%">ID</th>
                    <th width="15%">新闻类别</th>
                    <th width="20%">展示缩略图</th>
                    <th width="45%">文章标题</th>
                    <th width="10%">操作</th>
                </thead>
                <tbody id="x-img">
                <volist name='news_list' id='vo'>
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.title}</td>
                        <td>
                            <img class="layui-upload-img table-img" id="preview" src='{$vo.img_url}'>
                        </td>
                        <td>{$vo.news_title}</td>
                        <td>
                            <button class="layui-btn" id="save" data-id="{$vo.id}">
                                选择
                            </button>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="page">
                {$page}
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['layer', 'form'], function () {
        let layer = layui.layer,
            form = layui.form;
        form.render();
        layer.ready(function () { //为了layer.ext.js加载完毕再执行
            layer.photos({
                photos: '#x-img'
                , shift: 4 //0-6的选择，指定弹出图片动画类型，默认随机
            });
        });

        //无刷新分页
        $('body').on('click', '.page a', function () {
            let url = $(this).attr('href');
            if (typeof(url) != "undefined") {
                $.get(url, function (data) {
                    $('#panel').html(data);
                    form.render();
                    layer.ready(function () { //为了layer.ext.js加载完毕再执行
                        layer.photos({
                            photos: '#x-img'
                            , shift: 4 //0-6的选择，指定弹出图片动画类型，默认随机
                        });
                    });
                });
            } else {
                layer.ready(function () { //为了layer.ext.js加载完毕再执行
                    layer.photos({
                        photos: '#x-img'
                        , shift: 4 //0-6的选择，指定弹出图片动画类型，默认随机
                    });
                });
            }
            return false;
        });
    });

    $('body').on('click', '#save', function () {
        let id = $(this).attr('data-id');
        layer.confirm('确认要选择添加吗？', function () {
            //捉到所有被选中的，发异步进行添加
            $.post("{:U('NewsBanner/save')}", {
                id: id
            }, function (res) {
                if (res.status == 0) {
                    layer.msg(res.msg, {icon: 2, time: 1500});
                }
                if (res.status == 1) {
                    layer.msg(res.msg, {icon: 1, time: 1500});
                }
                if (res.status == 2) {
                    layer.msg(res.msg, {icon: 2, time: 1500});
                }
            });
            return false;
        });
    })
</script>
</body>
</html>