<include file='Public/header' />
<include file='Public/base_css' />
<body>
<include file='Public/base_js' />
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a><cite>前台新闻资讯页面大轮播管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right;padding-top: 6px"
       href="javascript:location.replace(location.href);" title="刷新">
        刷新</a>
</div>
<div class="x-body">
    <blockquote class="layui-elem-quote">
        <span class="x-red">*</span>
        展示缩略图用于首页展示，新增文章默认为隐藏状态，需要设置为显示状态前台才能显示
    </blockquote>
    <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()">
            <i class="layui-icon">&#xe640;</i>批量删除
        </button>
        <button class="layui-btn" onclick="x_admin_show('增加轮播图','{:U(\'NewsBanner/addNewsBannerShow\')}', 1000, 800)">
            <i class="layui-icon">&#xe608;</i>添加
        </button>

        <span class="x-right" style="line-height:40px;">
            &nbsp;&nbsp;&nbsp;共有数据：&nbsp;<span id="count"> {$count} </span>&nbsp;条
        </span>
    </xblock>
    <div id="panel" lay-filter="panel">
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                <tr>
                    <th width="20">
                        <input type="checkbox" class="-checkbox -header" lay-skin="primary" lay-filter="allChoose">
                    </th>
                    <th width="30">ID</th>
                    <th width="20">新闻类别</th>
                    <th width="20">展示缩略图</th>
                    <th width="180">文章标题</th>
                    <th width="20">操作</th>
                </thead>
                <tbody id="x-img">
                <volist name='news_list' id='vo'>
                <tr>
                    <td>
                        <input type="checkbox" class="-checkbox" lay-skin="primary" lay-filter="itemChoose"
                               data-id='{$vo.id}'>
                    </td>
                    <td>{$vo.id}</td>
                    <td>{$vo.title}</td>
                    <td>
                        <img class="layui-upload-img table-img" id="preview" src='{$vo.img_url}'>
                    </td>
                    <td>{$vo.news_title}</td>
                    <td class="td-manage">
                        <a id="moveUp" data-id="{$vo.id}"
                           href="javascript:void(0);" title="上移">
                            <span class="layui-badge layui-bg-green">上移</span>
                        </a>
                        <a title="删除"
                           onclick="member_del(this,'{$vo.id}')"
                           href="javascript:void(0);">
                            <span class="layui-badge layui-btn-danger">删除</span>
                        </a>
                    </td>
                </tr>
                </volist>
                </tbody>
            </table>
            <div class="page">
                {$page}
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['layer', 'form'], function () {
        let layer = layui.layer,
            form = layui.form;
        form.render();
        layer.ready(function () { //为了layer.ext.js加载完毕再执行
            layer.photos({
                photos: '#x-img'
                , shift: 4 //0-6的选择，指定弹出图片动画类型，默认随机
            });
        });

        //无刷新分页
        $('body').on('click', '.page a', function () {
            let url = $(this).attr('href');
            if (typeof(url) != "undefined") {
                $.get(url, function (data) {
                    $('#panel').html(data);
                    form.render();
                    layer.ready(function () { //为了layer.ext.js加载完毕再执行
                        layer.photos({
                            photos: '#x-img'
                            , shift: 4 //0-6的选择，指定弹出图片动画类型，默认随机
                        });
                    });
                });
            } else {
                layer.ready(function () { //为了layer.ext.js加载完毕再执行
                    layer.photos({
                        photos: '#x-img'
                        , shift: 4 //0-6的选择，指定弹出图片动画类型，默认随机
                    });
                });
            }
            return false;
        });
    });

    /*上移*/
    $('body').on('click', '#moveUp', function () {
        let id = $(this).attr('data-id');
        layer.confirm('确认要上移吗？', function () {
            $.post("{:U('NewsBanner/moveUp')}", {
                id: id
            }, function (res) {
                if (res == 200) {
                    layer.msg('已上移，请刷新查看', {icon: 1, time: 1500});
                } else if (res == 0) {
                    layer.msg('上移失败', {icon: 2, time: 1500});
                }
            });
            return false;
        });
    });

    /*删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function () {
            //发异步删除数据
            $.post("{:U('NewsBanner/delete')}", {
                id: id
            }, function (res) {
                if (res == 200) {
                    $(obj).parents("tr").remove();
                    layer.msg('删除成功', {icon: 1, time: 1500});
                } else {
                    layer.msg('删除失败', {icon: 2, time: 1500});
                }
            });
            return false;
        });
    }

    function delAll() {
        let data = tableCheck.getData();
        if (data != '') {
            layer.confirm('确认要删除吗？', function () {
                //捉到所有被选中的，发异步进行删除
                $.post("{:U('NewsBanner/delAll')}", {
                    data: data
                }, function (res) {
                    if (res == 200) {
                        layer.msg('删除成功', {icon: 1, time: 1500});
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                    } else {
                        layer.msg('删除失败', {icon: 2, time: 1500});
                    }
                });
                return false;
            });
        } else {
            layer.msg('请勾选需要删除的数据');
        }
    }
</script>
</body>
</html>