
<style type="text/css">
    #type {padding: 20px 0;}
    #type span {display: inline-block; cursor: pointer; padding: 8px 12px; border-radius: 2px; margin-right: 10px; color: #888; background: #F5F5F5;}
    #type span.on {background: #1caf9a; color: #FFF;}
    #type span:hover {background: #1caf9a; color: #FFF;}
    iframe #nav {display: none;}
</style>
<div id="msg"></div>
<form name="myform" id="myform" action="<if condition="$action_name=='add'">{:U($module_name.'/insert')}<else />{:U($module_name.'/update')}</if>&iscreatehtml=1" method="post">
<div id="filelist" class="hide"></div>
<div class="error"><ul></ul></div>
<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
        <tr>
            <td width="10%" >用户手机号</td>
            <td width="90%" id="">
                <input type="text" class="input-text " name="mobile"  value="{$res['mobile']}" size="55" <if condition="$action_name=='edit'">readonly</if> >
            </td>
        </tr>
</table>

<if condition="$action_name=='edit'">

<div id="type">
    <span class="on">投放房源</span>
    <span>帮你找房</span>
    <span>推荐好友</span>
    <span>预约看房</span>
    <span>浏览记录</span>
    <span>收藏记录</span>
</div>
<iframe src="/index.php?g=Admin&m=Putout&a=index&uid={$res['id']}" frameborder="1px" style="width: 98%;height: 300px;"></iframe>
<iframe src="/index.php?g=Admin&m=Findin&a=index&uid={$res['id']}" frameborder="1px" style="width: 98%;height: 300px;display: none;"></iframe>
<iframe src="/index.php?g=Admin&m=Recommend&a=index&uid={$res['id']}" frameborder="1px" style="width: 98%;height: 300px;display: none;"></iframe>
<iframe src="/index.php?g=Admin&m=Book&a=index&uid={$res['id']}" frameborder="1px" style="width: 98%;height: 300px;display: none;"></iframe>
<iframe src="/index.php?g=Admin&m=History&a=index&uid={$res['id']}" frameborder="1px" style="width: 98%;height: 300px;display: none;"></iframe>
<iframe src="/index.php?g=Admin&m=Collect&a=index&uid={$res['id']}" frameborder="1px" style="width: 98%;height: 300px;display: none;"></iframe>

</if>

<script type="text/javascript">
    $("#type span").click(function(){
        var i = $(this).index();
        $("#type span").removeClass("on");
        $(this).addClass("on");
        $("iframe").hide();
        $("iframe").eq(i).show();
    })
</script>


<div id="bootline"></div>
<div id="btnbox" class="btn">
<if condition="$vo['id']!=''"><input TYPE="hidden" name="id" value="{$vo.id}"></if>
<input type="hidden"  name="lang" value="{$langid}" />
<input type="hidden" name="forward" value="{$_SERVER['HTTP_REFERER']}" />
<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button buttonBtn" >
<input TYPE="reset"  value="{:L('cancel')}" class="button">
</div>
</form>
</div>
<script>
    
var catid = $("#catid"),
    tips =  $(".thumb_tips");
{if $action_name!='add'}
    tips.html({$datas[0]}+'*'+{$datas[1]}+"px");
{/if}
catid.change(function(){
    $.ajax({
        type : "post",
        url : "{:URL('Admin-Content/get_img')}",
        data : {
            cid : $(this).val(),
            model : "Article",
        },
        dataType : "json",
        success : function(msg){
            if(msg[0]){
                tips.html(msg[0]+'*'+msg[1]+"px");
            }else{
                tips.html("0");
            }
        }
    })
})
</script>