<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="乙租网 - 写字楼、厂房、创意园区专业互联网服务平台,精品写字楼,广州楼盘全覆盖,真实房源,现场实勘,专业顾问2对1服务!预约看房,免费咨询请拨打 400-886-6391">
	<title>乙租网</title>
	<link rel="shortcut icon" href="__PUBLIC__/images/yz.ico">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index_style.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/yizu_release.css">
	<script type="text/javascript" src="__PUBLIC__/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/yizu_release.js"></script>
</head>
<body style="background:rgba(0,0,0,.04)">
	<!-- 顶部导航栏开始 -->
<nav class="navbar navbar-default top_bg mar">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>

	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul id="top_text" class="nav navbar-nav">
	        <li><a href="#">首页</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">出租 <span class="caret"></span></a>
	          <ul id="nav_mintext" class="dropdown-menu nav_mintext">
	            <li><a href="#">写字楼出租</a></li>
	            <li><a href="#">创意园出租</a></li>
	            <li><a href="#">厂房出租</a></li>
	         </ul></li>
	        <!-- <li><a href="#">地图找房</a></li> -->
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">乙租服务 <span class="caret"></span></a>
	          <ul id="nav_mintext" class="dropdown-menu">
	            <li><a href="#">装修服务</a></li>
	            <li><a href="#">工商服务</a></li>
	            <li><a href="#">财税</a></li>
	            <li><a href="#">办公设备</a></li>
	            <li><a href="#">品牌推广</a></li>
	            <li><a href="#">活动策划</a></li>
	            <li><a href="#">办公协同系统</a></li>
	            <li><a href="#">搬家服务</a></li>
	          </ul></li>
	        <li><a href="#">新闻资讯</a></li>
	        <li><a href="#">关于乙租</a></li>
	      </ul>
	      <ul id="nav_right" class="nav navbar-nav navbar-right">
	      	<li><a href="#">登录</a></li>
	      	<li><span>｜</span></li>
	      	<li><a href="#">注册</a></li>
	      	<li><a href="#">消息</a></li>
	      	<li><a href="#" class="nav_rightbtn">发布房源</a></li>
	      </ul>
	    </div>
	  </div>
</nav>
<header class="nav_bot">
		<div class="container top_bigbox">
			<div class="row">
				<div class="col-md-2">
					<div class="col-md-8 top_logo">
						<img src="__PUBLIC__/images/logo/max_logo.png">
					</div>
					<div class="col-md-4 marpad logo_text">广州</div>
				</div>
				<div class="col-md-7 marpad">
					<div class="col-md-12 marpad" style="margin:1rem 0 .5rem">
						<ul class="bigbox_top">
							<li><a href="#">写字楼</a></li>
							<li><a href="#">创意园</a></li>
							<li><a href="#">厂房</a></li>
							<li><a href="#">装修服务</a></li>
							<li><a href="#">工商注册</a></li>
							<li><a href="#">财税</a></li>
							<li><a href="#">办公设备</a></li>
							<li><a href="#">品牌推广</a></li>
							<li><a href="#">活动策划</a></li>
						</ul>
					</div>
					<div class="col-md-12">
						<input class="top_search" type="text" name="search" placeholder="请输入区域、商圈或名称开始找房">
						<span class="top_buttom"><img src="__PUBLIC__/images/icon/magnifier.png"></span>
					</div>
				</div>
				<div class="col-md-3 marpad">
					<div class="col-md-4 marpad minnav">
						<a href="#">
							<div class="col-md-12 marpad"><img src="__PUBLIC__/images/icon/map_y.png"></div>
							<div class="col-md-12 marpad">地图找房</div>
						</a>
					</div>
					<div class="col-md-4 marpad minnav">
						<a href="#">
							<div class="col-md-12 marpad"><img src="__PUBLIC__/images/icon/edifice_2.png"></div>
							<div class="col-md-12 marpad">租房补贴</div>
						</a>
					</div>
					<div class="col-md-4 marpad minnav">
						<a href="#">
							<div class="col-md-12 marpad"><img src="__PUBLIC__/images/icon/service.png"></div>
							<div class="col-md-12 marpad">乙租服务</div>
						</a>
					</div>
				</div>
			</div>
			
		</div>
</header>
	<!-- 中部 -->
<main class="container" style="margin-bottom: 8rem;">
	<form>
		<h1 class="fsize18 fw_bold">发布房源</h1>
		<div class="row marpad margin40 border04">
			<div class="col-md-4">
				<div class="col-md-2">
					<div class="round round2">1</div>
				</div>
				<div class="col-md-3 fsize18 fw_bold marpad">填写信息</div>
				<div class="col-md-7" style="border-bottom: 1px solid #198cff;padding:0;line-height: 10px;">&nbsp;</div>
				<div class="col-md-8 text45">
					处理描述有点多有点多不得不换行
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-2">
					<div class="round text45">2</div>
				</div>
				<div class="col-md-3 text45 fsize18 fw_bold marpad">等待审核</div>
				<div class="col-md-7 text45" style="border-bottom: 1px solid rgba(0,0,0,0.15);padding:0;line-height: 10px;">&nbsp;</div>
				<div class="col-md-8 text45">
					处理描述有点多有点多不得不换行
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-2">
					<div class="round text45">3</div>
				</div>
				<div class="col-md-3 text45 fsize18 fw_bold marpad">完成发布</div>
				<div class="col-md-7 text45" style="border-bottom: 1px solid rgba(0,0,0,0.15);padding:0;line-height: 10px;">&nbsp;</div>
				<div class="col-md-8 text45">
					处理描述有点多有点多不得不换行
				</div>
			</div>
		</div>
		<h1 class="fsize18 fw_bold">来源和类型</h1>
		<div class="row marpad margin40 border04">
			<div>
				<div class="col-md-2 text-right fsize14 edirt_text"><i>*</i>身份</div>
				<div class="col-md-10 controls" style="margin-top: -5px;">
					<ul class="ulradio">
						<li class="fsize14" value="0">个人</li>
						<li class="fsize14" value="1">经纪人</li>
					</ul>
				</div>
			</div>
			<div style="margin: 40px 0;">
				<div class="col-md-2 text-right fsize14 edirt_text"><i>*</i>类型</div>
				<div class="col-md-10 controls">
					<select class="form-control" name="cars" style="width:115px;margin-top: -8px;padding:4px 4px;">
						<option>请选择类型</option>
						<option value="0">写字楼</option>
						<option value="1">厂房</option>
						<option value="2">创意园</option>
					</select>
				</div>
			</div>
			
		</div>
		<h1 class="fsize18 fw_bold">楼盘基本信息</h1>
		<div class="row marpad margin40 border04">
			<div class="col-md-12 marpad mar_t ">
				<div class="col-md-2 text-right fsize14 edirt_text"><i>*</i>楼盘名称</div>
				<div class="col-md-10 controls" style="margin-top: -5px;">
					<input class="input423 fsize14" type="text" name="" placeholder="请输入2-30字，不能填写电话、微信、QQ或特殊字符">
				</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 releaseline edirt_text"><i>*</i>所在区域</div>
				<div class="col-md-10 controls">
					<select class="pull-left form-control select30" name="cars" style="padding:4px 4px; width: 115px">
						<option>请选择区域</option>
						<option value="0">写字楼</option>
						<option value="1">厂房</option>
						<option value="2">创意园</option>
					</select>
					<select class="pull-left form-control select30" name="cars" style="padding:4px 4px; width: 115px">
						<option>请选择商圈</option>
						<option value="0">写字楼</option>
						<option value="1">厂房</option>
						<option value="2">创意园</option>
					</select>
					<input class="pull-left input423 fsize14" type="text" name="" placeholder="请输入详细地址">
				</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 releaseline edirt_text"><i>*</i>面积</div>
				<div class="col-md-10 controls">
					<input class="input284 fsize14" type="text" name="" placeholder="请输入6位数以内大于零的整数">
					<i class="text65">㎡</i>
				</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 releaseline edirt_text"><i>*</i>单价</div>
				<div class="col-md-10 controls">
					<input class="pull-left input284" type="text" name="" placeholder="请输入单价" style="margin-right: 10px;">
					<select class="pull-left form-control select30" name="cars" style="padding:4px 4px; width: 115px">
						<option>请选择单价</option>
						<option value="0">写字楼</option>
						<option value="1">厂房</option>
					</select>
				</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 releaseline edirt_text"><i>*</i>物业费</div>
				<div class="col-md-10 controls">
					<input class="input284 fsize14" type="text" name="" placeholder="请输入物业费">
					<i class="text65">元/月</i>
				</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 releaseline edirt_text">配套设施</div>
				<div class="col-md-10 controls">
					<ul class="tabnavbox">
						<li class="fsize14 tabcolor1">货梯</li>
						<li class="fsize14 tabcolor2">消防</li>
						<li class="fsize14 tabcolor3">环评</li>
						<li class="fsize14 tabcolor4">带电</li>
					</ul>
				</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 releaseline edirt_text">总楼层</div>
				<div class="col-md-4 controls">
					<input class="input284 fsize14" type="text" name="">
					<i class="text65">层</i>
				</div>
				<div class="col-md-1 text-right fsize14 releaseline edirt_text">建筑面积</div>
				<div class="col-md-5 controls">
					<input class="input284 fsize14" type="text" name="" placeholder="请输入整栋楼面积">
					<i class="text65">㎡</i>
				</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 releaseline edirt_text">车位数</div>
				<div class="col-md-4 controls">
					<input class="input284 fsize14" type="text" name="">
					<i class="text65">个</i>
				</div>
				<div class="col-md-1 text-right fsize14 releaseline edirt_text">准层高</div>
				<div class="col-md-5 controls">
					<input class="input284 fsize14" type="text" name="">
					<i class="text65">米</i>
				</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 releaseline edirt_text">客梯数</div>
				<div class="col-md-4 controls">
					<input class="input284 fsize14" type="text" name="">
					<i class="text65">个</i>
				</div>
				<div class="col-md-1 text-right fsize14 releaseline edirt_text">开发商</div>
				<div class="col-md-5 controls">
					<input class="input284 fsize14" type="text" name="">
				</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 releaseline edirt_text">物业公司</div>
				<div class="col-md-4 controls">
					<input class="input284 fsize14" type="text" name="">
				</div>
				<div class="col-md-1 text-right fsize14 releaseline edirt_text">适合行业</div>
				<div class="col-md-5 controls">
					<input class="input284 fsize14" type="text" name="" placeholder="例:电子、电器、服装、展厅">
				</div>
			</div>
		</div>
		<h1 class="fsize18 fw_bold">详细信息</h1>
		<div class="row marpad margin40 border04">
			<div class="col-md-12 marpad mar_t ">
				<div class="col-md-2 text-right fsize14 edirt_text">补充信息</div>
				<div class="col-md-10 controls">
					<textarea class="textfield fsize14" placeholder="请在10～500字内，描述配套设施、交通情况等。"></textarea>
				</div>
			</div>
		</div>
		<h1 class="fsize18 fw_bold">上传图片</h1>
		<div class="row marpad margin40">
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 edirt_text">上传封面:</div>
				<div class="col-md-10 controls">
					<ul class="filenav_1">
						<li>
							<input id="f" class="filestyle1" type="file" name="" onchange="change('preview','f')">
							<img id="preview" class="analogclick1" src="__PUBLIC__/images/icon/Group.png" >
						</li>
					</ul>
				</div>
				<div class="col-md-10 col-md-offset-2 fsize14 text45">最大文件不超过500kb，只支持.jpg .png 格式，建议上传外观图。</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 edirt_text">上传图片:</div>
				<div class="col-md-10 controls">
					<ul class="filenav_1">
						<li>
							<input id="" class="filestyle2" type="file" name="">
							<img id="" class="analogclick2" src="__PUBLIC__/images/icon/Group.png">
						</li>
					</ul>
				</div>
				<div class="col-md-10 col-md-offset-2 fsize14 text45">只能上传房屋图片，不能包含有文字、数字、网址、名片等。最多上传10张，每张最大不超过2Mb，只支持.jpg .png 格式。</div>
			</div>
			<div class="col-md-12 marpad mar_t">
				<div class="col-md-2 text-right fsize14 edirt_text">上传户型图:</div>
				<div class="col-md-10 controls">
					<ul class="filenav_1">
						<li>
							<input id="g" class="filestyle3" type="file" name="" onchange="change('preview2','g')">
							<img id="preview2" class="analogclick3" src="__PUBLIC__/images/icon/Group.png">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<h1 class="fsize18 fw_bold">联系方式</h1>
		<div class="row marpad margin40 ">
			<div class="col-md-12 marpad mar_t ">
				<div class="col-md-2 text-right fsize14 edirt_text"><i>*</i>联系人</div>
				<div class="col-md-10 controls" style="margin-top: -5px;">
					<input class="input284 fsize14" type="text" name="">
				</div>
			</div>
			<div class="col-md-12 marpad mar_t ">
				<div class="col-md-2 text-right fsize14 edirt_text"><i>*</i>联系电话</div>
				<div class="col-md-10 controls" style="margin-top: -5px;">
					<input class="input284 fsize14" type="text" name="">
				</div>
			</div>
		</div>
		<div class="row marpad margin40">
			<div class="col-md-12 marpad mar_t ">
				<div class="col-md-10 col-md-offset-2">
					<span class="releasethis">确认发布</span>
				</div>
			</div>
			<input class="clicksubmit" type="submit" name="" >
		</div>
		
	</form>
</main>
	<!-- 底部 -->
	<!-- PC版本 -->
	<footer class="pc">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="col-md-12 foot_leftbox">
						<div class="col-md-1 foot_logo pad"><img src="__PUBLIC__/images/logo/min_logo_1.png"></div>
						<div class="col-md-11 foot_title">广州乙租信息科技有限公司</div>
					</div>
					<div class="col-md-12" style="margin-top:3rem;">
						<div class="col-md-6 foot_list_l pad">
							<div class="col-md-12 pad" style="color:#fff">关于乙租</div>
							<div class="col-md-12 pad">
								<ul class="f_min_list">
									<li><a href="#">联系我们</a></li>
									<li><a href="#">商务合作</a></li>
									<li><a href="#">网站地图</a></li>
									<li><a href="#">常见问题</a></li>
									<li><a href="#">用户协议</a></li>
									<li><a href="#">隐私条款</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 pad foot_list_r">
							<p>地址：<span>广州市白云大道北广贸商务中心C栋401</span></p>
							<p>电话：<span>400-8866-3911</span></p>
							<p>邮箱：<span>epassrent@163.com</span></p>
						</div>
					</div>
					<div class="col-md-12 foot_link">
						<p>友情链接</p>
						<ul>
							<li><a href="#">今日头条</a></li>
							<li><a href="#">今日头条</a></li>
							<li><a href="#">今日头条</a></li>
							<li><a href="#">今日头条</a></li>
							<li><a href="#">今日头条</a></li>
							<li><a href="#">今日头条</a></li>
							<li><a href="#">今日头条</a></li>
							<li><a href="#">今日头条</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<ul class="foot_qrcode">
						<li><img src="__PUBLIC__/images/qrcode/qrcode_1.jpg"></li>
						<li><img src="__PUBLIC__/images/qrcode/qrcode_1.jpg"></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 foot_t">Copyright © 2017 广州乙租信息科技有限公司 粤ICP备18010088号</div>
			</div>
		</div>
	</footer>		
</body>
<script type="text/javascript">
	function change(id1,id2) {
    var pic = document.getElementById(id1),
        file = document.getElementById(id2);
    var ext=file.value.substring(file.value.lastIndexOf(".")+1).toLowerCase();
     // gif在IE浏览器暂时无法显示
     if(ext!='png'&&ext!='jpg'&&ext!='jpeg'&&ext!='png'){
         alert("图片的格式必须为png或者jpg或者jpeg格式或者png格式！"); 
         return;
     }
     var isIE = navigator.userAgent.match(/MSIE/)!= null,
         isIE6 = navigator.userAgent.match(/MSIE 6.0/)!= null;
     if(isIE) {
        file.select();
        console.log(file.select());
        var reallocalpath = document.selection.createRange().text;
        // IE6浏览器设置img的src为本地路径可以直接显示图片
         if (isIE6) {
            pic.src = reallocalpath;
         }else {
            // 非IE6版本的IE由于安全问题直接设置img的src无法显示本地图片，但是可以通过滤镜来实现
             pic.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='image',src=\"" + reallocalpath + "\")";
             // 设置img的src为base64编码的透明图片 取消显示浏览器默认图片
             pic.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
         }
     }else {
        html5Reader(file,id1);
     }
}
 function html5Reader(file,id1){
    // console.log(file.files[0]);
     var file = file.files[0];
     var reader = new FileReader();
     reader.readAsDataURL(file);
     console.log(reader);
     reader.onload = function(e){
         var pic = document.getElementById(id1);
         pic.src=this.result;
     }
 }
</script>
</html>
