<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新闻资讯-详情页</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/news_personal.css" />
		<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.3.1.min.js" ></script>
		<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js" ></script>
	</head>
	
	
	<body style="background: rgba(0,0,0,0.04);">
		<include file="Index/index_top1"/>
			<nav class="url">
				<p>首页>新闻资讯>行业新闻>广州写字楼资金领涨，上海和深圳租金将面临下行压力</p>
			</nav>
			<!--主题-->
			<main class="clearfix">
				<div class="main_left">
					<h3>广州写字楼资金领涨，上海和深圳租金将面临下行压力</h3>
					<ul>
						<li>作者：中国新闻网</li>
						<li>来源：中国新闻网</li>
						<li>时间：2018-05-20</li>
						<li>浏览量：2400</li>
						<li><a href="">分享到：<img src="__PUBLIC__/Home/images/icon/weixin.png"/></a></li>
					</ul>
					<p>全球最大商业地产服务和投资公司世邦魏理仕5日发布的《2018亚太区房地产市场展望》中指出，在供应压力下，
						2018年中国市场内，广州写字楼租金将领涨，北京租金涨幅有限，而受新增供应高峰影响，上海和深圳的写字楼租金将面临下行压力。
					</p>
					<p>
						报告称，在亚太区，优质写字楼整体需求将在2018年继续保持稳定，金融与科技行业租户仍将是租赁主力。甲级写字楼新增供应预计将超过550万平方米，
						较2017年增加26%，将创历史新高。其中七成的新增供应位于印度和中国，且大部分位于非核心区域。
					</p>
						
					<img src="__PUBLIC__/Home/images/test/5ae2c75458309.jpg" alt="" />
					
					<p>
						世邦魏理仕亚太区研究部负责人金纬博士表示：“面对亚太区市场格局的转变，租户企业正在寻求制定更加灵活、适应性更强的企业不动产策略，确保高效应对不断变化的外部环境。
						与此同时，愈发激烈的人才竞争也促使员工体验成为了不动产决策中更加重要的影响因素。”
					</p>
					
					<p>
						在电子商务持续增长的同时，2018年亚太区市场的零售销售也将保持稳健势头。餐饮与娱乐业态将引领市场的租赁需求，健康相关消费的持续走热将显著驱动体育用品零售商、
						健身中心的商铺需求增长。2018年优质零售物业租金将保持微弱增长，优质项目将继续成为推升市场租金的主要驱动力，品质及运营水平较低的项目仍将面临困境。
					</p>
					<p>
						世邦魏理仕预计，亚太区零售市场将继续经历重大结构性变化。零售商将加快全渠道策略建立竞争优势，线上和线下由竞争走向融合。在创新科技的助力下，线上购买-实体店取货，
						以及店内购买-快递到家等线上线下融合的零售模式不断发展。此外，快闪店或快闪活动、以体验为主的旗舰店等新颖模式，也将为实体店提升客流量发挥更为重要的作用。
						业主将在项目运营中更加注重消费体验，并引入能够聚拢客流、提升人气的租户。
					</p>
					
					<img src="__PUBLIC__/Home/images/banner/banner_1.png" alt="" />
					<img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="" />
					<p class="clearfix">
						<span class="pre"><a href="">前一篇：最适合在办公室养的10种植物</a></span>
						<span class="next"><a href="">后一篇：乙租帮您实现如何租赁写字楼最优惠！</span></a>
					</p>
				</div>
				
				<div class="main_right_out">
					<div class="main_right">
						<div class="right_top">
							<ul>
								<li>
									<div><img src="__PUBLIC__/Home/images/test/5ae2c75458309.jpg"/></div>
								</li>
								<li>
									<div><img src="__PUBLIC__/Home/images/test/5ae2c75458309.jpg"/></div>
								</li>
							</ul>
						</div>
						
						<!--热门推荐-->
						<h3>热门推荐</h3>
						<div class="right_hot">
							<ul>
								<li>
									<div class="photo_info">
										<div class="photo"><img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="..."></div>
										<div class="info">
											<p><span class="fontSize18">绿巨人写字楼</span></p>
											<p><span class="info_house"><span>写字楼出租</span> <span>50</span>㎡</span>
												<span class="info_money"><span class="fontSize24" style="color: #FA541C;">70</span>元/㎡/月</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_info">
										<div class="photo"><img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="..."></div>
										<div class="info">
											<p><span class="fontSize18">绿巨人写字楼</span></p>
											<p><span class="info_house"><span>写字楼出租</span> <span>50</span>㎡</span>
												<span class="info_money"><span class="fontSize24" style="color: #FA541C;">70</span>元/㎡/月</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_info">
										<div class="photo"><img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="..."></div>
										<div class="info">
											<p><span class="fontSize18">绿巨人写字楼</span></p>
											<p><span class="info_house"><span>写字楼出租</span> <span>50</span>㎡</span>
												<span class="info_money"><span class="fontSize24" style="color: #FA541C;">70</span>元/㎡/月</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_info">
										<div class="photo"><img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="..."></div>
										<div class="info">
											<p><span class="fontSize18">绿巨人写字楼</span></p>
											<p><span class="info_house"><span>写字楼出租</span> <span>50</span>㎡</span>
												<span class="info_money"><span class="fontSize24" style="color: #FA541C;">70</span>元/㎡/月</span>
											</p>
										</div>
									</div>
								</li>
								<li>
									<div class="photo_info">
										<div class="photo"><img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="..."></div>
										<div class="info">
											<p><span class="fontSize18">绿巨人写字楼</span></p>
											<p><span class="info_house"><span>写字楼出租</span> <span>50</span>㎡</span>
												<span class="info_money"><span class="fontSize24" style="color: #FA541C;">70</span>元/㎡/月</span>
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!--热门推荐结束-->
						
						<!--热点推荐-->
						<nav class="informal">
							<h3>热点推荐</h3>
							<p style="color: #FA541C;"><a href="" style="color: #FA541C;">1  乙租帮您实现如何租赁写字楼最优惠！</a></p>
							<p style="color: #FA541C;"><a href="" style="color: #FA541C;">2  什么？推广费高？办公室租不出去？第几个收到了看见</a></p>
							<p style="color: #FA541C;"><a href="" style="color: #FA541C;">3  广州写字楼资金领涨，上海和深圳租金的说法都是</a></p>
							<p><a href="">4  办公室装修设计公司解读如何打造智能的说法都是第三方都是 </a></p>
							<p><a href="">5  最适合在办公室养的10种植物。</a></p>
						</nav>
					</div>
				</div>
			</main>
			<include file="Index/index_bto"/>
		
	</body>
</html>
