<div class="layui-form">
    <table class="layui-table">
        <thead>
        <tr>
            <th width="20">
                <input type="checkbox" class="-checkbox -header" lay-skin="primary" lay-filter="allChoose">
            </th>
            <th width="30">ID</th>
            <th width="70">新闻类别</th>
            <th width="20">展示缩略图</th>
            <th>文章标题</th>
            <th>关键字</th>
            <th>摘要</th>
            <th width="20">文章内容</th>
            <th width="80">发布人</th>
            <th width="115">发布时间</th>
            <th width="50">状态</th>
            <th width="60">操作</th>
        </thead>
        <tbody id="x-img">
        <volist name='news_list' id='vo'>
            <tr>
                <td>
                    <input type="checkbox" class="-checkbox" lay-skin="primary" lay-filter="itemChoose"
                           data-id='{$vo.id}'>
                </td>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td>
                    <img class="layui-upload-img table-img" id="preview" src='{$vo.img_url}'>
                </td>
                <td>{$vo.news_title}</td>
                <td>{$vo.keyword}</td>
                <td>{$vo.describe}</td>
                <td>
                    <button class="layui-btn" onclick="x_admin_show('文章内容')">
                        点击查看
                    </button>
                </td>
                <td>{$vo.username}</td>
                <td>{$vo.time|date='Y-m-d H:i:s',###}</td>
                <td class="td-status">
                    <eq name="vo.status" value="1">
                        <span class="layui-badge layui-bg-green">已显示</span>
                        <else/>
                        <span class="layui-badge layui-bg-gray">已隐藏</span>
                    </eq>
                </td>
                <td class="td-manage">
                    <eq name="vo.status" value="1">
                        <a onclick="member_stop(this,'{$vo.id}','{$vo.status}')"
                           href="javascript:void(0);" title="隐藏">
                            <i class="layui-icon">&#xe6af;</i>
                        </a>
                        <else/>
                        <a onclick="member_stop(this,'{$vo.id}','{$vo.status}')"
                           href="javascript:void(0);" title="显示">
                            <i class="layui-icon">&#xe69c;</i>
                        </a>
                    </eq>
                    <a title="修改" onclick="x_admin_show('修改')"
                       href="javascript:void(0);">
                        <i class="layui-icon">&#xe642;</i>
                    </a>
                    <a title="删除"
                       onclick="member_del(this,'{$vo.id}')"
                       href="javascript:void(0);">
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
    <div class="page">
        {$page}
    </div>
</div>