<div class="layui-form">
    <table class="layui-table">
        <thead>
        <tr>
            <th width="20">
                <input type="checkbox" class="-checkbox -header" lay-skin="primary" lay-filter="allChoose">
            </th>
            <th width="30">ID</th>
            <th width="20">新闻类别</th>
            <th width="20">展示缩略图</th>
            <th width="180">文章标题</th>
            <th width="20">操作</th>
        </thead>
        <tbody id="x-img">
        <volist name='news_list' id='vo'>
            <tr>
                <td>
                    <input type="checkbox" class="-checkbox" lay-skin="primary" lay-filter="itemChoose"
                           data-id='{$vo.id}'>
                </td>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td>
                    <img class="layui-upload-img table-img" id="preview" src='{$vo.img_url}'>
                </td>
                <td>{$vo.news_title}</td>
                <td class="td-manage">
                    <a id="moveUp" data-id="{$vo.id}"
                       href="javascript:void(0);" title="上移">
                        <span class="layui-badge layui-bg-green">上移</span>
                    </a>
                    <a title="删除"
                       onclick="member_del(this,'{$vo.id}')"
                       href="javascript:void(0);">
                        <span class="layui-badge layui-btn-danger">删除</span>
                    </a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
    <div class="page">
        {$page}
    </div>
</div>