<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:void(0);">
                    <i class="iconfont">&#xe705;</i>
                    <cite>内容管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:U('Banner/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>轮播图管理</cite>

                        </a>
                    </li>
                    <li>
                        <a _href="{:U('News/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>新闻管理</cite>

                        </a>
                    </li>
                    <li>
                        <a _href="{:U('NewsBanner/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>新闻大轮播管理</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="{:U('Link/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>友链管理</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="iconfont">&#xe735;</i>
                    <cite>房源管理</cite>
                    <span class="layui-badge" id="msg_count1">1</span>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>上传房源</cite>

                        </a>
                    </li>
                    <li>
                        <a _href="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>审核房源</cite>
                            <span class="layui-badge" id="msg_count2">1</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a _href="">
                    <i class="layui-icon">&#xe63c;</i>
                    <cite>评论审核</cite>
                </a>
            </li>
            <li>
                <a _href="{:U('UserNews/index')}">
                    <i class="layui-icon">&#xe6b2;</i>
                    <cite>用户消息</cite>
                </a>
            </li>
            <li>
                <a _href="{:U('Entrust/index')}">
                    <i class="layui-icon">&#xe62a;</i>
                    <cite>委托找房</cite>
                    <span class="layui-badge" id="msg_count3">1</span>
                </a>
            </li>
            <li>
                <a _href="{:U('Bespeak/index')}">
                    <i class="layui-icon">&#xe60a;</i>
                    <cite>预约看房</cite>
                    <span class="layui-badge" id="msg_count">1</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="iconfont">&#xe726;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>网站用户</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>后台管理员</cite>
                        </a>
                    </li>
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色管理</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="iconfont">&#59054;</i>
                    <cite>系统管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="{:U('Setting/index')}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>系统设置</cite>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>