/*中部内容开始*/
.textcolor{
	color: #198cff;
}
.aboutus_nav>ul,.aboutus_bigbox>ul{
	padding: 0;
}
.aboutus_nav>ul>li{
	text-align: center;
	padding: 5px 0;
	cursor:pointer;
}
.aboutus_nav>ul>li:hover{
	color: #fff;	
	background: #198cff;
}
.aboutus_bigbox>ul>li {
	width: 100%;
}
.aboutus_bigbox>ul>li:nth-of-type(2){
	width: 100%;
}
.aboutus_bigbox>ul>li>img{
	width: 100%;
	height: 546px;
	padding-top: 24px;
}
.aboutus_bigbox>ul .thismap>img{
	padding: 0;
}
.bigbox_title{
	color: #198cff;
	padding-bottom: 1rem;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(0,0,0,0.04);
}
.clicktab{
	color: #fff;
	background: #198cff;
}
.text_1,.text_2,.text_3,.text_4{
	color: rgba(0,0,0,.85);
}
.text_2{
	margin-bottom:20px;
}
.text_3{
	font-weight:bold;
	font-size: 18px!important;
	margin-top: 10px;
}
.friendship{
	width: 100%;
}
.friendship > li{
	width: 33.3%;
	height: 5rem;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
}	
.friendship li img{
	width: 100%;
	height: 100%;
}
.webmap{
	width: 100%;
	padding:0;
}
.webmap li{
	width: 20%;
	text-align: left;
	float: left;
	margin-bottom: 10px;
}
/*结束*/