<include file='public/header'/>
<include file='public/base_css'/>
<body>
<include file='public/base_js'/>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a><cite>委托找房</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right;padding-top: 6px"
       href="javascript:location.replace(location.href);" title="刷新">
        刷新</a>
</div>
<div class="x-body">
    <blockquote class="layui-elem-quote">
        <span class="x-red">*</span>
        委托找房列表
        <span class="x-right" style="line-height:40px;">
            &nbsp;&nbsp;&nbsp;共有数据：&nbsp;<span id="count">{$count}</span>&nbsp;条
        </span>
    </blockquote>
    <div id="panel" lay-filter="panel">
        <div class="layui-form">
            <table class="layui-table">
                <thead>
                <tr>
                    <th width="14%">ID</th>
                    <th width="14%">用户</th>
                    <th width="14%">联系电话</th>
                    <th width="14%">委托时间</th>
                    <th width="14%">状态</th>
                    <th width="10%">处理人</th>
                    <th width="18%">操作</th>
                </thead>
                <tbody id="x-img">
                <volist name="entrust_list" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.user_id}</td>
                        <td>{$vo.phone}</td>
                        <td>{$vo.time|date='Y-m-d H:i:s',###}</td>
                        <td class="td-status">
                            <eq name="vo.status" value="1">
                                <span class="layui-badge layui-bg-green">已联系</span>
                                <else/>
                                <span class="layui-badge layui-bg-red">未联系</span>
                            </eq>
                        </td>
                        <td class="admin-username">{$vo.username}</td>
                        <td class="td-manage">
                            <eq name="vo.status" value="1">
                                <a class="layui-btn layui-btn-small"
                                   style="line-height:1.6em;margin-top:3px;padding-top: 6px;cursor: default;opacity: 0.2;"
                                   href="javascript:void(0);" onclick="return false;">
                                    联系用户并填写要求和更改状态</a>
                                <a class="layui-btn layui-btn-small"
                                   style="line-height:1.6em;margin-top:3px;padding-top: 6px;"
                                   href="javascript:void(0);" onclick="x_admin_show('要求详情','{:U('Entrust/read')}'+'?id='+{$vo.id}, 500,200)">
                                    要求详情</a>
                                <else/>
                                <a class="layui-btn layui-btn-small"
                                   style="line-height:1.6em;margin-top:3px;padding-top: 6px"
                                   href="javascript:void(0);"
                                   onclick="member_stop(this,'{$vo.id}','{$Think.session.admin_id}');">
                                    联系用户并填写要求和更改状态</a>
                                <a class="layui-btn layui-btn-small layui-hide"
                                   style="line-height:1.6em;margin-top:3px;padding-top: 6px;"
                                   href="javascript:void(0);" onclick="x_admin_show('要求详情','{:U('Entrust/read')}'+'?id='+{$vo.id}, 500,200)">
                                    要求详情</a>
                            </eq>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="page">

            </div>
        </div>
        <div class="layui-hide" id="username">{$Think.session.username}</div>
    </div>
</div>
<script>
    layui.use(['layer', 'form'], function () {
        let form = layui.form;
        form.render();

        //无刷新分页
        $('body').on('click', '.page a', function () {
            let url = $(this).attr('href');
            if (typeof(url) != "undefined") {
                $.get(url, function (data) {
                    $('#panel').html(data);
                    form.render();
                });
            }
            return false;
        });
    });

    /*隐藏*/
    function member_stop(obj, id, admin_id) {
        layer.prompt({
            formType: 2,
            title: '请输用户的要求（不能为空）',
            area: ['500px', '150px'] //自定义文本域宽高
        }, function(value, index, elem){
            let username = $('#username').html();
            //发异步把用户状态进行更改
            $.post("{:U('Entrust/setStatus')}", {
                id: id,
                require: value,
                admin_id: admin_id
            }, function (res) {
                if (res == 200) {
                    $(obj).attr('onclick', 'return false');
                    $(obj).css({'cursor':'default','opacity':'0.2'});
                    $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-bg-gray').addClass('layui-bg-green').html('已处理');
                    $(obj).parents("tr").find(".admin-username").html(username);
                    $(obj).next().removeClass('layui-hide');
                    layer.msg('已更改', {icon: 1, time: 1500});
                } else if (res == 0) {
                    layer.msg('更改失败', {icon: 2, time: 1500});
                }
            });
            layer.close(index);
        });
        return false;
    }
</script>
</body>
</html>