<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>新闻资讯-详情页</title>
    <link rel="shortcut icon" href="__PUBLIC__/Home/images/yz.ico">
    <!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/news_personal.css"/>
    <!--<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.3.1.min.js"></script>-->
    <!--<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>-->
</head>


<body style="background: rgba(0,0,0,0.04);">
<include file="Public/index_top1"/>
<nav class="url">
    <p>首页>新闻资讯>{$news.title}>{$news.news_title}</p>
</nav>
<!--主题-->
<main class="clearfix">
    <div class="main_left">
        <h3>{$news.news_title}</h3>
        <ul>
            <li>作者：{$news.username}</li>
            <li>来源：中国新闻网</li>
            <li>时间：{$news.time|date='Y-m-d',###}</li>
            <li>浏览量：{$news.page_view}</li>
            <li><a href="">分享到：<img src="__PUBLIC__/Home/images/icon/weixin.png"/></a></li>
        </ul>
        {$news.new_text}
        <p class="clearfix">
            <span class="pre">
                前一篇：
                <if condition="$prev eq '没有了'">
                    没有了
                    <else/>
                    <a href="{:U('News/getNews', array('id'=>$prev[id]))}">{$prev.news_title}</a>
                </if>
            </span>
            <span class="next">
                后一篇：
                <if condition="$next eq '没有了'">
                    没有了
                    <else/>
                    <a href="{:U('News/getNews', array('id'=>$next[id]))}">{$next.news_title}</a>
                </if>
            </span>
        </p>
    </div>

    <div class="main_right_out">
        <div class="main_right">
            <div class="right_top">
                <ul>
                    <li>
                        <div><img src="__PUBLIC__/Home/images/test/5ae2c75458309.jpg"/></div>
                    </li>
                    <li>
                        <div><img src="__PUBLIC__/Home/images/test/5ae2c75458309.jpg"/></div>
                    </li>
                </ul>
            </div>

            <!--热门推荐-->
            <h3>热门推荐</h3>
            <div class="right_hot">
                <ul>
                    <li>
                        <div class="photo_info">
                            <div class="photo"><img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="..."></div>
                            <div class="info">
                                <p><span class="fontSize18">绿巨人写字楼</span></p>
                                <p><span class="info_house"><span>写字楼出租</span> <span>50</span>㎡</span>
                                    <span class="info_money"><span class="fontSize24" style="color: #FA541C;">70</span>元/㎡/月</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="photo_info">
                            <div class="photo"><img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="..."></div>
                            <div class="info">
                                <p><span class="fontSize18">绿巨人写字楼</span></p>
                                <p><span class="info_house"><span>写字楼出租</span> <span>50</span>㎡</span>
                                    <span class="info_money"><span class="fontSize24" style="color: #FA541C;">70</span>元/㎡/月</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="photo_info">
                            <div class="photo"><img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="..."></div>
                            <div class="info">
                                <p><span class="fontSize18">绿巨人写字楼</span></p>
                                <p><span class="info_house"><span>写字楼出租</span> <span>50</span>㎡</span>
                                    <span class="info_money"><span class="fontSize24" style="color: #FA541C;">70</span>元/㎡/月</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="photo_info">
                            <div class="photo"><img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="..."></div>
                            <div class="info">
                                <p><span class="fontSize18">绿巨人写字楼</span></p>
                                <p><span class="info_house"><span>写字楼出租</span> <span>50</span>㎡</span>
                                    <span class="info_money"><span class="fontSize24" style="color: #FA541C;">70</span>元/㎡/月</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="photo_info">
                            <div class="photo"><img src="__PUBLIC__/Home/images/test/5ae2c7541ef77.jpg" alt="..."></div>
                            <div class="info">
                                <p><span class="fontSize18">绿巨人写字楼</span></p>
                                <p><span class="info_house"><span>写字楼出租</span> <span>50</span>㎡</span>
                                    <span class="info_money"><span class="fontSize24" style="color: #FA541C;">70</span>元/㎡/月</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--热门推荐结束-->

            <!--热点推荐-->
            <nav class="informal">
                <h3>热点推荐</h3>
                <p style="color: #FA541C;"><a href="" style="color: #FA541C;">1 乙租帮您实现如何租赁写字楼最优惠！</a></p>
                <p style="color: #FA541C;"><a href="" style="color: #FA541C;">2 什么？推广费高？办公室租不出去？第几个收到了看见</a></p>
                <p style="color: #FA541C;"><a href="" style="color: #FA541C;">3 广州写字楼资金领涨，上海和深圳租金的说法都是</a></p>
                <p><a href="">4 办公室装修设计公司解读如何打造智能的说法都是第三方都是 </a></p>
                <p><a href="">5 最适合在办公室养的10种植物。</a></p>
            </nav>
        </div>
    </div>
</main>
<include file="Public/index_bto"/>

</body>
</html>
