<div class="layui-form">
    <table class="layui-table">
        <thead>
        <tr>
            <th width="20">
                <input type="checkbox" class="-checkbox -header" lay-skin="primary" lay-filter="allChoose">
            </th>
            <th width="30">ID</th>
            <th width="20">缩略图</th>
            <th>备注</th>
            <th width="100">上传人</th>
            <th width="150">上传时间</th>
            <th width="50">状态</th>
            <th width="50">操作</th>
        </thead>
        <tbody id="x-img">
        <volist name="banner_list" id="vo">
            <tr>
                <td>
                    <input type="checkbox" class="-checkbox" lay-skin="primary" lay-filter="itemChoose"
                           data-id='{$vo.id}'>
                </td>
                <td>{$vo.id}</td>
                <td>
                    <img class="layui-upload-img table-img" id="preview" src='{$vo.img_src}'>
                </td>
                <td>{$vo.remark}</td>
                <td>{$vo.username}</td>
                <td>{$vo.upload_time|date='Y-m-d H:i',###}</td>
                <td class="td-status">
                    <eq name="vo.status" value="1">
                        <span class="layui-badge layui-bg-green">已显示</span>
                        <else/>
                        <span class="layui-badge layui-bg-gray">已隐藏</span>
                    </eq>
                </td>
                <td class="td-manage">
                    <eq name="vo.status" value="1">
                        <a onclick="member_stop(this,'{$vo.id}','{$vo.status}')"
                           href="javascript:void(0);" title="隐藏">
                            <i class="layui-icon">&#xe6af;</i>
                        </a>
                        <else/>
                        <a onclick="member_stop(this,'{$vo.id}','{$vo.status}')"
                           href="javascript:void(0);" title="显示">
                            <i class="layui-icon">&#xe69c;</i>
                        </a>
                    </eq>
                    <!--<a title="修改" onclick="x_admin_show()" href="javascript:;">-->
                    <!--<i class="layui-icon">&#xe642;</i>-->
                    <!--</a>-->
                    <a title="删除"
                       onclick="member_del(this,'{$vo.id}')"
                       href="javascript:void(0);">
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
    <div class="page">
        {$page}
    </div>
</div>