<div class="tabs_li">
    <ul class="nav nav-pills">
        <li role="presentation" class="active" value="0">全部</li>
        <foreach name='type' item='vo'>
            <li role="presentation" class="news_li" id="news_li_{$vo.id}">{$vo.title}</li>
        </foreach>
    </ul>
    <span><span>首页</span>><span>新闻咨询</span></span>
</div>

<ul>
    <volist name="news_list" id="vo">
        <li>
            <a href="{:U('News/getNews')}?id={$vo.id}">
                <div class="media">
                    <div class="media-left news_img">

                        <img class="media-object" src="{$vo.img_url}">

                    </div>
                    <div class="media-body news_info clearfix">
                        <span class="new_type fontSize18 onehide">{$vo.title} | {$vo.news_title}</span>
                        <span class="time fontSize24">{$vo.time|date='m-d',###}</span>
                        <p>{$vo.describe}</p>
                        <span class="arrow_right"><img src="__PUBLIC__/Home/images/icon/arrow-righ.png"/></span>
                    </div>
                </div>
            </a>
        </li>
    </volist>
    <!--分页按钮-->
    <nav class="paging" id="all_news_page" style="margin: 20px 0 20px 0;text-align: center">
        <div class="pages clearfix">
            {$page}
        </div>
    </nav>
    <!--分页按钮-->
</ul>
<ul>
    <volist name="news_1" id="vo">
        <li>
            <a href="{:U('News/getNews')}?id={$vo.id}">
                <div class="media">
                    <div class="media-left news_img">

                        <img class="media-object" src="{$vo.img_url}">

                    </div>
                    <div class="media-body news_info clearfix">
                        <span class="new_type fontSize18 onehide">{$vo.title} | {$vo.news_title}</span>
                        <span class="time fontSize24">{$vo.time|date='m-d',###}</span>
                        <p>{$vo.describe}</p>
                        <span class="arrow_right"><img src="__PUBLIC__/Home/images/icon/arrow-righ.png"/></span>
                    </div>
                </div>
            </a>
        </li>
    </volist>
    <!--分页按钮-->
    <nav class="paging" id="all_news_page1" style="margin: 20px 0 20px 0;text-align: center">
        <div class="pages clearfix">
            {$page1}
        </div>
    </nav>
    <!--分页按钮-->
</ul>
<ul>
    <volist name="news_2" id="vo">
        <li>
            <a href="{:U('News/getNews')}?id={$vo.id}">
                <div class="media">
                    <div class="media-left news_img">

                        <img class="media-object" src="{$vo.img_url}">

                    </div>
                    <div class="media-body news_info clearfix">
                        <span class="new_type fontSize18 onehide">{$vo.title} | {$vo.news_title}</span>
                        <span class="time fontSize24">{$vo.time|date='m-d',###}</span>
                        <p>{$vo.describe}</p>
                        <span class="arrow_right"><img src="__PUBLIC__/Home/images/icon/arrow-righ.png"/></span>
                    </div>
                </div>
            </a>
        </li>
    </volist>
    <!--分页按钮-->
    <nav class="paging" id="all_news_page2" style="margin: 20px 0 20px 0;text-align: center">
        <div class="pages clearfix">
            {$page2}
        </div>
    </nav>
    <!--分页按钮-->
</ul>
<ul>
    <volist name="news_3" id="vo">
        <li>
            <a href="{:U('News/getNews')}?id={$vo.id}">
                <div class="media">
                    <div class="media-left news_img">

                        <img class="media-object" src="{$vo.img_url}">

                    </div>
                    <div class="media-body news_info clearfix">
                        <span class="new_type fontSize18 onehide">{$vo.title} | {$vo.news_title}</span>
                        <span class="time fontSize24">{$vo.time|date='m-d',###}</span>
                        <p>{$vo.describe}</p>
                        <span class="arrow_right"><img src="__PUBLIC__/Home/images/icon/arrow-righ.png"/></span>
                    </div>
                </div>
            </a>
        </li>
    </volist>
    <!--分页按钮-->
    <nav class="paging" id="all_news_page3" style="margin: 20px 0 20px 0;text-align: center">
        <div class="pages clearfix">
            {$page3}
        </div>
    </nav>
    <!--分页按钮-->
</ul>
<script>
    $(function () {
        $('.tabs_li>ul>li').eq(3).click();
        $('#news_li_3').addClass('active ');
    })
</script>